.App {
  /* text-align: center; */
  padding: 1.5rem;
}

ul {
  list-style: none;
}

li {
  /* display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem; */
  padding-left: 1rem;
}

input:checked + span {
  text-decoration: line-through;
  color: grey;
}

span:last-child {
  margin-left: 6px;
  color: red;
  cursor: pointer;
}
